* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color:#E0EEF7;
    text-align: center;
    
}
button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.shopping__list {
    width: 400px;
    margin: auto;
    background-color: #eee;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
#header {
    background: rgb(2, 0, 36);
    background: linear-gradient(19deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 20px 20px 0 0;
    color: white;

}
#header h2{
    padding: 1rem;
}

.list{
    padding: 1rem 2rem;
    height: 500px;
    overflow-y: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.item__check{
    font-size: 1.2rem;
    margin-right: 1.5rem;
}
.item__check.checked{
    color: steelblue;
}
.item__title{
    font-weight: bold;
    margin-right: auto;
}
.item__remove{
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
.item__check:hover,
.item__remove:hover{
    color: steelblue;
    transform: scale(1.1);
}
.divider{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: auto;
}
#footer{
    background: rgb(2, 0, 36);
    background: linear-gradient(19deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 0 0 20px 20px;
}

#footer .item__input{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 1rem;
}
#footer .plus{
    font-size: 2rem;
    color: white;
    margin: 1rem;
    transition: 0.3s;
}
#footer .plus:hover{
    animation: animate__rubberBand;
    transform: scale(1.1);
}